body {
    margin: 0;
}

.container {
    display:flex;
    width:100%;
    background-color: #666;
    flex-direction: column;
}

.navigationbar {
    background-color: black;
    width:auto;
    height:10%;
    display:flex;
    flex-direction:row;
}

.navigation {
color:white;
width:25%;
display:flex;
font-size:2EM;
justify-content: center;
align-items:center;
}

.navigation:hover{
    cursor: wait;
    color: darkslategrey;
}

.header {
    background-color: blue;
    width:auto;
    height:5%;
}

.main {
    background: url(../img/bananpaj1.jpg) no-repeat center fixed;
    background-size: 100%;
      width:100%;
    height:80%;
}

.footer {
    background-color: gray;
    width:auto;
    height:5%;
}

.wrapper {
    display:flex;
    flex-direction: row;
   width: 100%;
    height: 100%;
}

.aside {
display: none;
width:500px;
background-color: red;
}

.website_container {
    height: 100vh;
}
